---
- name: Create Filesystem Usage result object
  ansible.builtin.set_fact:
    fs_usage_result:
      name: "Filesystem Usage"
      command: "ansible_facts.mounts"
      result: |
        {% for mount in ansible_facts.mounts -%}
        {{ mount.device }} {{ mount.size_total | human_readable }} {{ (mount.size_total - mount.size_available) | human_readable }} {{ mount.size_available | human_readable }} {{ ((mount.size_total - mount.size_available) / mount.size_total * 100) | round(0) }}% {{ mount.mount }}
        {% endfor %}
      status: "PASS"
      notes: ""

- name: Append Filesystem Usage result
  ansible.builtin.set_fact:
    test_results: "{{ test_results | combine({'storage': test_results.storage + [fs_usage_result]}, recursive=True) }}"
