---
- name: Check for ibstatus command
  ansible.builtin.command: ibstatus
  register: ib_status
  changed_when: false
  failed_when: false

- name: Create IB Links result object
  ansible.builtin.set_fact:
    ib_links_result:
      name: "IB Links Speed"
      command: "ibstatus"
      result: "{{ ib_status.rc != 0 | ternary(ib_status.stderr, ib_status.stdout) }}"
      status: "{{ ib_status.rc == 0 | ternary('PASS', 'FAIL') }}"
      notes: "Exit code {{ ib_status.rc }}"

- name: Append IB Links result
  ansible.builtin.set_fact:
    test_results: "{{ test_results | combine({'infiniband': test_results.infiniband + [ib_links_result]}, recursive=True) }}"
