---
- name: Get /etc/passwd content
  ansible.builtin.slurp:
    src: /etc/passwd
  register: passwd_file
  failed_when: not passwd_file.content

- name: Create /etc/passwd result object
  ansible.builtin.set_fact:
    passwd_result:
      name: "/etc/passwd"
      command: "cat /etc/passwd"
      result: "{{ passwd_file.content | b64decode }}"
      status: "PASS"
      notes: ""

- name: Append /etc/passwd result
  ansible.builtin.set_fact:
    test_results: "{{ test_results | combine({'security': test_results.security + [passwd_result]}, recursive=True) }}"
