---
- name: Get Ethernet Links
  ansible.builtin.command: ip -br a
  register: ip_links
  changed_when: false
  failed_when: false

- name: Create Ethernet Links result object
  ansible.builtin.set_fact:
    ethernet_links_result:
      name: "Ethernet Links"
      command: "ip -br a"
      result: "{{ ip_links.stdout }}"
      status: "PASS"
      notes: ""

- name: Append Ethernet Links result
  ansible.builtin.set_fact:
    test_results: "{{ test_results | combine({'ethernet': test_results.ethernet + [ethernet_links_result]}, recursive=True) }}"
