---
- name: Check for nvidia-smi command
  ansible.builtin.command: nvidia-smi --query-gpu=gpu_name --format=csv,noheader
  register: gpu_type
  changed_when: false
  failed_when: false

- name: Create GPU Type result object
  ansible.builtin.set_fact:
    gpu_type_result:
      name: "GPU Type"
      command: "nvidia-smi --query-gpu=gpu_name --format=csv,noheader"
      result: "{{ gpu_type.rc != 0 | ternary(gpu_type.stderr, gpu_type.stdout) }}"
      status: "{{ gpu_type.rc == 0 | ternary('PASS', 'FAIL') }}"
      notes: "Exit code {{ gpu_type.rc }}"

- name: Append GPU Type result
  ansible.builtin.set_fact:
    test_results: "{{ test_results | combine({'gpu': test_results.gpu + [gpu_type_result]}, recursive=True) }}"
