---
- name: Check for nvidia-smi command
  ansible.builtin.command: nvidia-smi --query-gpu=gpu_name --format=csv,noheader
  register: gpu_type
  changed_when: false
  failed_when: false

- name: Format result for GPU Type
  ansible.builtin.set_fact:
    test_results: "{{ test_results | combine({gpu: test_results.gpu + [item]}, recursive=True) }}"
  vars:
    is_fail: gpu_type.rc != 0
    item:
      name: "GPU Type"
      command: "nvidia-smi --query-gpu=gpu_name --format=csv,noheader"
      result: "{{ is_fail | ternary(gpu_type.stderr, gpu_type.stdout) }}"
      status: "{{ is_fail | ternary(FAIL, PASS) }}"
      notes: "Exit code {{ gpu_type.rc }}"
  loop: [1]

